starting_data
acl_anthology_queries.json
anthology_sample.parquet
combined_dataset.pkl
embeddings.pkl
embeddings_WordEmbedding.pkl
word2vec_model.bin
embeddings_WordCentroidEmbedding.pkl
embeddings_SentenceTransformer.pkl
__pycache__